table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.8em;
}
.inner-div-tag{
  margin-right: 1% ;
  font-weight: bold;
  width: 20%;
  padding: 1%;
  border-right: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: content;
  flex-direction: column;
  flex-wrap: wrap;
}
.div-style{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border: 0.15em solid black;
  border-left: 0;
  border-right: 0;
}
.checkboxes{
  display: flex;
  padding: 1%;
}