* {
  user-select: none;
}

td[ colspan="6"] {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.8em;
}


label {
  font-size: medium;
}


.inner-div-tag {
  margin-right: 1%;
  font-weight: bold;
  width: 20%;
  padding: 1%;
  /* border-right: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: content;
  flex-direction: column;
  flex-wrap: wrap;
}

.div-style {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border: 0.15em solid black;
  border-left: 0;
  border-right: 0;
}

.checkboxes {
  display: flex;
  padding: 1%;
}

.radio_wrapper {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  width: 100%;
  padding: 1%;
  justify-content: space-evenly;
  align-content: space-evenly;
}

#ownership_pattern {
  /* justify-content: space-around; */
  gap: 10px;
  white-space: nowrap;
}

.outer {
  border: black solid 1px;
}

input[type=checkbox] {
  width: 15px;
  margin-left: auto;
  margin-right: 50%;
}

input[type=radio] {
  width: 15px;
  margin-left: auto;
  margin-right: 50%;
}

.radio_wrapper>div {
  display: flex;
  gap: 5px;
  align-items: center;
}

.form4_styling {
  width: 75%;
}

.d_flex_align_CONTENT_justify {
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstTable{
  width: 40%;
}

@media screen and (max-width:768px) {
  tr {
    flex-direction: column;
    display: flex;
  }
  .firstTr{
    display: table-row;
  }
  .firstTable{
    width: 90%;
  }

  .form4_styling {
    width: 100%;
  }

  input[type=checkbox] {
    width: 15px;
    margin-left: auto;
    margin-right: 10px;
  }

  input[type=radio] {
    width: 15px;
    margin-left: auto;
    margin-right: 10px;
  }

  .grevience_redressal {
    flex-direction: column;
  }


  input[type=text] {
    font-size: small;
  }

  .radio_wrapper>div {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: 100%;
    /* gap: 5px; */
    align-items: center;
  }

  .radio_wrapper>div>input {
    margin-left: auto;
    width: 15px;
    margin-right: 15%;
  }

  .radio_wrapper {
    flex-direction: column;
  }

  label {
    font-weight: 600;
    font-size: small;
  }

  span {
    font-weight: 600;
    font-size: small;
  }
}

input {
  width: 100%
}

.input_label_gapper>div {
  display: flex;
  gap: 10px;
  align-items: center;
}