*{
  user-select: none;
}
table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.8em;
}
.inner-div-tag{
  margin-right: 1% ;
  font-weight: bold;
  width: 20%;
  padding: 1%;
  border-right: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: content;
  flex-direction: column;
  flex-wrap: wrap;
}
.div-style{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border: 0.15em solid black;
  border-left: 0;
  border-right: 0;
}
.checkboxes{
  display: flex;
  padding: 1%;
}
.radio_wrapper{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  width: 100%;
  padding: 1%;
  justify-content: space-evenly;
}
.outer{
  border: black solid 1px;
}
.radio_wrapper>div{
  display: flex;
  gap: 5px;
  align-items: center;
}
@media screen and (max-width:768px) {
  .radio_wrapper>div{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: 100%;
    /* gap: 5px; */
    align-items: center;
  }
  .radio_wrapper>div>input{
    margin-left: auto;
    width: 15px;
    margin-right: 15%;
  }
  .radio_wrapper{
    flex-direction: column;
  } 
}
input{
  width:100%
}