* {
  user-select: none;
}
body{
  background-color: #f9fafe;
}
td[colspan="6"] {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.8em;
}

label {
  font-size: medium;
}

.inner-div-tag {
  margin-right: 1%;
  font-weight: bold;
  width: 20%;
  padding: 1%;
  /* border-right: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: content;
  flex-direction: column;
  flex-wrap: wrap;
}

.checkboxes {
  display: flex;
  padding: 1%;
}

.radio_wrapper {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* width: 20%; */
  padding: 1%;
  gap: 10px;
  justify-content: space-evenly;
  align-content: space-evenly;
}

#ownership_pattern {
  /* justify-content: space-around; */
  gap: 10px;
  white-space: nowrap;
}

.outer {
  border: black solid 1px;
}

input[type="checkbox"] {
  width: 15px;
  margin-left: auto;
  margin-right: 50%;
}

input[type="radio"] {
  width: 15px;
  margin-left: auto;
  margin-right: 30%;
}

.radio_wrapper > div {
  display: flex;
  gap: 5px;
  align-items: center;
}

.form4_styling {
  width: 75%;
}

.d_flex_align_CONTENT_justify {
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstTable {
  width: 40%;
}
.next {
  margin-left: auto;
}

tr {
  flex-direction: column;
  display: flex;
}
.firstTr {
  display: table-row;
}
.firstTable {
  width: 90%;
}

.form4_styling {
  width: 100%;
}

input[type="checkbox"] {
  width: 15px;
  margin-left: auto;
  margin-right: 10px;
}

input[type="radio"] {
  width: 15px;
  margin-left: auto;
  margin-right: 10px;
}

.grevience_redressal {
  flex-direction: column;
}

input[type="text"] {
  font-size: small;
}

.radio_wrapper > div {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  width: 100%;
  /* gap: 5px; */
  align-items: center;
}

.radio_wrapper > div > input {
  margin-left: auto;
  width: 15px;
  margin-right: 15%;
}

.radio_wrapper {
  flex-direction: column;
}

label {
  font-weight: 600;
  font-size: small;
}

span {
  font-weight: 600;
  font-size: small;
}

input {
  width: 100%;
}

.input_label_gapper > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

table,td,tr{
  border: none;
  width: 100%;
}
#formy{
  width: 70%;
  margin: auto;
  background-color: #ffffff;
  padding: 50px;
  border: 1px solid #818489;
  border-radius: 20px;
  color: #1d1e21;
  font-weight: 600;
  font-size: 18px;
}
label{
  color: #1d1e21;
  font-weight: 600;
  font-size: 18px;
}
h1,h2{
  color: #0f2871;
  font-size: large;
}

input[type="text"],input[type="number"],input[type="email"]{
  color: #414754;
  border:1px solid #818489;
  padding: 15px;
  border-radius: 10px;
  font-weight: 500;
  margin-top:-10px;
  font-size: medium;
}

input:focus{
  border: solid black;
}
.heading,.heading>label{
  color: #0f2871;
  font-size: large;
  font-weight: 600;
}
.wrapup{
  border: 1px #818489 solid;
  border-radius: 10px;
  padding: 15px;
}
@media only screen and (max-width: 800px) {
  #formy {
    width: 95%;
    padding: 0px;
    font-weight: 600;
    font-size: 12px;
  }
  label{
    font-size: 12px;
  }
  h1,h2{
    font-size: medium;
  }
  
  input[type="text"],input[type="number"],input[type="email"]{
    font-size: medium;
  }
  
  .heading,.heading>label{
    font-size: medium;
  }
}
.menubar{
  width: 250px;
  height: calc(100vh);
  background-color: white;
  transition: translate 0.2s ease-in-out;
  overflow-y: auto;
  flex-shrink: 0;
  position: fixed;
  top:0px;
  left: -250px;
  color: #f0f6fc;
  z-index: 2;
  box-shadow: 1px 6px 6px 0px rgba(0, 0, 0, 0.24);
}
.expand{
  translate: 250px 0px;
  /* Move menubar to the right */
  background-color: white;
}
.hero{
  width: 100vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imges{
  height: 60%;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
  padding: 0 2vw;
  margin-top: 40px;
}
.hero>p{
  margin: 5px;
}
.buttonclass{
  display: flex;
  /* position: fixed;
  top: 40vh; */
  bottom: 0;
  height: calc(100vh - (25vh + 22.07px + 47.1px));
  background-color: white;
  padding: 50px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.btns{
  height: 80px;
  padding: 20px;
  width: 250px;
  margin: 20px;
  color: white;
  background-color: #005f99;
  font-weight: 600;
  border-radius: 5px;
}
.menubarcontent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.menubardivbtn{
  position: absolute;
  top: 0;
  height: 40px;
  width: 100vw;
  background-color: #f9fafe;
}
.menubarcontent>button{
  width: 90%;
}
.msme{
  display: flex;
  height: 100%;
  /* width: 50vw; */
  align-items: center;
}
.msme>img{
  height: 20vw;
  max-height: 100%;
}
.msme>div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  margin-left: 10px;
  font-size: larger;
}
@media screen and (max-width: 600px) {
  .msme>div{
    font-size: medium;
  }  
}
@media screen and (max-width: 450px) {
  .msme>div{
    font-size: small;
  }  
}
.iiitl{
  height: 15vw;
  max-height: 100%;
}