/* body {
  background: #0d0d0d;
  color: white;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* input[type="radio"] {
  border: 1px solid #000000;
  padding: 0.5em;
  -webkit-appearance: none;
} */
/* input[type=radio]:checked {
  background-color: #000000;
  background: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat center center;
  background-size: 9px 9px;
} */

/* input[type=radio]:focus {
  outline-color: transparent;
} */

input[type=text],
input[type=number],input[type=email] {
  outline: none;
  padding: 1%;
  font-size: larger;
  letter-spacing: 0.1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}


label {
  font-size: larger;
}